.grid-container {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem 10rem;
    position: absolute;
    left: 35%;
    top: 25%;
    width: auto;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10% 20% 20% 10%;
    font-size: 2rem;
    text-align: center;
    background-color: #a88a9e;
    color: white;
}

.grid-item:hover {
    opacity: 0.8;
}

.grid-display {
    grid-column-start: 0;
    grid-column-end: 5;
    margin-top: -50%;
    margin-left: -300%;
    background-color: gray;
}

.operator {
    background-color: #ff9f0a;
}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-display span {
    position: absolute;
    right: 10%;
    top: -13%;
    font-size: 3rem;
    color: white;
}